
$loading_background_color : #f2f2f2;
$primary-red : #911918;
$shadow-color : #A2A2A2;
$black : #000000;
$c-2D2 : #2D2D2D;
$c-A2A : #A2A2A2;
$c-8F8 : #8f8f8f;
$white : white;
$c-aba : #abaaaa;
$footer-color : #827E7D;
$black : #000000;
$c-9d9: #9d9d9d;